<!--DASHBOARD-->
<div id="dashboard" class="w3-container">
  <!-- <h2>Dashboard</h2> -->
  <p class="w3-padding-left w3-opacity"><b>Info Summary</b></p>

  <!-- CHART  CARD -->
  <!-- <div class="w3-row-padding w3-padding-0 w3-margin-bottom">
    
    <div class="w3-third">
      <div class="w3-card-2">
        <img src="/img/house.png" style="width:100%;">
        <div class="w3-container w3-center">
          <p>Chart</p>
        </div>
      </div>
    </div>
    
    <div class="w3-third">
      <div class="w3-card-2">
        <img src="/img/house.png" style="width:100%;">
        <div class="w3-container w3-center">
          <p>Chart</p>
        </div>
      </div>
    </div>
  
    <div class="w3-third">
      <div class="w3-card-2">
        <img src="/img/house.png" style="width:100%">
        <div class="w3-container w3-center">
          <p>Chart</p>
        </div>
      </div>
    </div>
 
  </div> -->


  <!-- IMAGE CARD -->
  <div class="w3-row-padding w3-padding-0">
    
    <div class="w3-third">
      <div class="w3-card-2">
        <img src="/img/house.png" style="width:100%;">
        <div class="w3-container w3-center">
          <p>Most Search</p>
        </div>
      </div>
    </div>
    
    <div class="w3-third">
      <div class="w3-card-2">
        <img src="/img/house.png" style="width:100%;">
        <div class="w3-container w3-center">
          <p>Most Seen</p>
        </div>
      </div>
    </div>
  
    <div class="w3-third">
      <div class="w3-card-2">
        <img src="/img/house.png" style="width:100%">
        <div class="w3-container w3-center">
          <p>Most Requested</p>
        </div>
      </div>
    </div>
 
  </div>

  <div class="w3-row-padding w3-padding-0 w3-section">
    <div class="w3-half">
      <div class="w3-card-2">
        <h3 class="w3-container w3-light-grey w3-large w3-padding w3-margin-0">Paling Sering Dilihat</h3>
        <ul class="w3-ul">
          <li>Rumah Komplek Renon</li>
        </ul>
      </div>  
    </div>
    <div class="w3-half">
      <div class="w3-card-2">
        <h3 class="w3-container w3-light-grey w3-large w3-padding w3-margin-0">Paling Sering Dilihat</h3>
        <ul class="w3-ul">
          <li>Rumah Komplek Renon</li>
        </ul>
      </div>  
    </div>
  </div>

<div class="w3-row-padding w3-section">
    <div class="w3-card-2">
      <h3 class="w3-container w3-light-grey w3-large w3-padding w3-margin-0">Berita Terbaru</h3>
      <ul class="w3-ul">
        <li>Rumah Dijual</li>
        <li>Apartemen Disewa</li>
        <li>Tanah Dijual</li>
      </ul>
    </div>
  </div>


</div>