<!--DASHBOARD-->
<div id="dashboard" class="w3-container">
  <!-- <h2>Dashboard</h2> -->
  <p class="w3-padding-left w3-opacity"><b>Info Summary</b></p>

  <!-- IMAGE CARD -->
  <div class="w3-row-padding ">
    
    <div class="w3-third">
      <div class="w3-card">
        <img src="/img/house.png" style="width:100%;">
        <div class="w3-container w3-center">
          <p>New Listing</p>
        </div>
      </div>
    </div>
    
    <div class="w3-third">
      <div class="w3-card">
        <img src="/img/house.png" style="width:100%;">
        <div class="w3-container w3-center">
          <p>Most Seen</p>
        </div>
      </div>
    </div>
  
    <div class="w3-third">
      <div class="w3-card">
        <img src="/img/house.png" style="width:100%">
        <div class="w3-container w3-center">
          <p>Most Requested</p>
        </div>
      </div>
    </div>
 
  </div>

  <div class="w3-row-padding  w3-section">
    <div class="w3-half">
      <div class="w3-card">
        <h3 class="w3-container w3-light-grey w3-large w3-padding ">Paling Sering Dilihat</h3>
        <ul class="w3-ul">
          <li>Villa Tepi Sanur</li>
        </ul>
      </div>  
    </div>
    <div class="w3-half">
      <div class="w3-card">
        <h3 class="w3-container w3-light-grey w3-large w3-padding ">Paling Sering Dibooking</h3>
        <ul class="w3-ul">
          <li>Rumah Komplek Renon</li>
        </ul>
      </div>  
    </div>
  </div>

<div class="w3-row-padding w3-padding w3-section">
    <div class="w3-card">
      <h3 class="w3-container w3-light-grey w3-large w3-padding ">Berita Terbaru</h3>
      <ul class="w3-ul">
        <li>Rumah Dijual</li>
        <li>Apartemen Disewa</li>
        <li>Tanah Dijual</li>
      </ul>
    </div>
  </div>


</div>