
<!--MAPS LISTING-->
<div id="maps-listing" class="w3-container w3-padding">

<!--SearchBox-->
<nav id="searchDropNav" class="w3-card w3-white" style="">
  <div class="" style="/*width:50%">
    <form id="maps-form">
    <div class="w3-row">
      <div class="w3-col" style="width:17%">
        <select id="searchStatus" class="w3-padding-16 w3-select w3-text-grey w3-white w3-border-0 w3-hover-text-blue-grey w3-hover-white" name="status">
        <option value="dijual">Dijual</option>
        <option value="disewa">Disewa</option>
        <option value="">--Semua--</option>

        </select>
      </div>
      <div class="w3-col" style="width:27%">
        <select id="searchType" class="w3-padding-16 w3-select w3-text-grey w3-white w3-border-0" name="type">
         <option value="rumah">Rumah</option>
            <option value="ruko">Ruko</option>
            <option value="tanah">Tanah</option>
            <option value="gudang">Gudang</option>
            <option value="ruang usaha">Ruang Usaha</option>
            <option value="villa">Villa</option>
            <option value="apartemen">Apartemen</option>
            <option value="kondominium">Kondominium</option>
            <option value="pabrik">Pabrik</option>
            <option value="perkantoran">Perkantoran</option>
            <option value="">--Semua--</option>

        </select>
      </div>

      <div class="w3-col w3-right w3-center" style="width:50px">
        <button class="w3-padding-16 w3-btn-block w3-white"><b class="fa fa-search"></b></button>
      </div>
   
      <div class="w3-rest">
        <input class="w3-padding-16 w3-white w3-hover-white w3-input w3-border-0" placeholder="Masukan Lokasi" type="text" name="location">
      </div>
    </div>
    </form>
  </div>
</nav>
<!--END SearchBox-->


  <!-- <h2>Maps Listing</h2> -->
  <div class="w3-row w3-card">
    <div id="map" class="" style="width:100%;height:75vh">
    </div>
      <div id="floating-panel" class="w3-padding ">
        <input type="text" name="" class="w3-input w3-border" style="z-index: 100">
        <p class="w3-hide">Lat Lng</p>
      </div>
    
  </div>
</div>
<script>
var markerCoords;
loadCoords();



function initMap(){
map = new google.maps.Map(document.getElementById('map'),{
center:{lat:0.798538,lng:120.581768},
zoom:5
});
var markers = markerCoords.map(function(location, i){
  return new google.maps.Marker({
    position: location,
    label: ''
  });
});
var markerCluster = new MarkerClusterer(map, markers,
            {imagePath: 'https://developers.google.com/maps/documentation/javascript/examples/markerclusterer/m'});
}

//load coord data

function loadCoords(){
  var xhr = new XMLHttpRequest();
  xhr.onreadystatechange = function(){
    if(this.readyState==4&&this.status==200){
      markerCoords = JSON.parse(this.responseText);
      //alert(markerCoords.valueOf());
    }
  };
  xhr.open('GET','/api/getcoords');
  xhr.send();
}

/////////////////////////////////////////////////////////////////////////
/////////////////////////////////////////////////////////////////////////
</script>

<script src="https://developers.google.com/maps/documentation/javascript/examples/markerclusterer/markerclusterer.js?rndstr=<%= Math.random() %>">
</script>
<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDAmS8vuCaGKypdZbXPWWrUo09cIjuTkgk&callback=initMap" ></script>