<div id="message" class="w3-container myDivToPrint">
  <p class="w3-padding-left w3-opacity" style="margin-bottom: 0px"><b>Message</b></p>
  <img src="/img/rumah2q-logo.png" style="width:20%">

  <div class="w3-row w3-section w3-border">
    
      <div class="w3-col w3-right" style="width:50px">
        <button class="w3-blue-grey w3-button w3-block w3-paddingX"><i class="fa fa-search"></i></button>
      </div>
        <div class="w3-rest">
        <input class="w3-hover-light-grey w3-input w3-border-0" type="text" name="" placeholder="Cari.." id="search-filter">
      </div>  
    
  </div>

	<table class="w3-table w3-card w3-hoverable" id="table-messages">
		<tr class="w3-blue-grey">
			<th>No</th>
			<th>Judul Properti</th>
			<th>Penjual</th>
			<th>Pembeli</th>
			<th style="width: 250px"></th>
		</tr>
		<%// for (var i = 0; i < data.length; i++) { -%>
		<tr class="w3-text-grey w3-hover-green">
			<td style="vertical-align: middle"></td>
			<td style="vertical-align: middle"></td>
      <td style="vertical-align: middle"></td>
			<td style="vertical-align: middle"></td>
			<td style="vertical-align: middle">
				<button class="w3-button w3-hover-text-blue-grey w3-hover-white"><i class="fa fa-info"></i> Detail</button>
				<button class="w3-button w3-hover-text-blue-grey w3-hover-white"><i class="fa fa-check"></i> Process</button>
			</td>
		</tr>
		<%// } -%>
	<!-- 	<tr  class="w3-hover-none">
			<td colspan="4">
			<button class="w3-blue-grey w3-hover-green w3-button w3-right no-print" onclick="printDiv('report')"><b><i class="fa fa-print"></i> Print</b></button>
			</td>
		</tr> -->

	</table>
	<div class="w3-container w3-padding w3-section w3-card">
		<button class="w3-blue-grey w3-hover-green w3-button w3-right no-print" onclick="printDiv('report')"><b><i class="fa fa-check"></i> Process All</b></button>
	</div>
</div>

<script>
function printDiv(divName) {
     var printContents = document.getElementById(divName).innerHTML;
     var originalContents = document.body.innerHTML;

     document.body.innerHTML = printContents;

     window.print();

     document.body.innerHTML = originalContents;
}

	// function printElm(elm)
 //    {
 //      var mywindow = window.open('', 'PRINT', 'height=1000,width=900');


 //        mywindow.document.write('<html><head><title>' + document.title  + '</title>');

 //        mywindow.document.write('</head><body >');
 //      mywindow.document.write('<h1>' + document.title  + '</h1>');
 //        mywindow.document.write(document.getElementById(elm).innerHTML);
 //        mywindow.document.write('</body></html>');

 //        mywindow.document.close(); // necessary for IE >= 10
 //        mywindow.focus(); // necessary for IE >= 10*/

 //        mywindow.print();
 //        mywindow.close();

 //        return true;

 //        }

  document.getElementById('search-filter').addEventListener('keyup',searchFilter);

  function searchFilter() {
  var input, filter, table, tr, td, i;
  input = document.getElementById("search-filter");
  filter = input.value.toUpperCase();
  table = document.getElementById("table-messages");
  tr = table.getElementsByTagName("tr");
  for (i = 1; i < tr.length; i++) {
    trd = tr[i];
    if (trd) {
      if (trd.innerHTML.toUpperCase().indexOf(filter) > -1) {
        tr[i].style.display = "";
      } else {
        tr[i].style.display = "none";
      }
    }
  }
}

</script>