<!--Floating Search Card-->
<div class="w3-display-middle w3-round-small w3-animate-opacity" style="width:50%;padding-top:32px">

<!-- MAIN LOGO -->
  <div id="main-hero-logo" class="w3-row w3-center">
    <img src="/img/rumah2q-logo.png" class="" style="width:30%;height:50%">
  </div>

<form action="/listings">
<!--MAIN SEARCH-->
  <div id="main-search" class="w3-row w3-card-4">
    
    <div class="w3-col" style="width:17%">
      <select id="searchStatus" style="height: 54px;" class="w3-padding-16 w3-select w3-text-grey w3-white w3-border-0 w3-hover-text-blue-grey w3-hover-light-grey" name="status">
        <option value="dijual">Dijual</option>
        <option value="disewa">Disewa</option>
        <option value="">--Semua--</option>
      </select>
    </div>

    <div class="w3-col" style="width:27%">
       <select id="searchType" style="height: 54px;" class="w3-padding-16 w3-select w3-text-grey w3-white w3-border-0 w3-hover-text-blue-grey w3-hover-light-grey " name="type" onclick="this.style.backgroundColor='white'">
         <option value="rumah">Rumah</option>
            <option value="ruko">Ruko</option>
            <option value="tanah">Tanah</option>
            <option value="gudang">Gudang</option>
            <option value="ruang usaha">Ruang Usaha</option>
            <option value="villa">Villa</option>
            <option value="apartemen">Apartemen</option>
            <option value="pabrik">Pabrik</option>
            <option value="perkantoran">Perkantoran</option>
            <option value="">--Semua--</option>

      </select>
    </div>

     <div class="w3-col w3-right" style="width:50px">
      <button id="searchBtn" class="w3-padding-16 w3-button w3-block w3-white w3-hover-blue-grey w3-text-blue-grey" title="Lakukan Pencarian...">
       
        <i class="fa fa-search"></i>
      </button>
    </div>
   <div class="w3-rest">

      <input id="searchLocation" onclick="searchDropDown()" class="w3-padding-16 w3-input w3-white w3-hover-light-grey w3-border-0 " type="text" placeholder="Lokasi.. Ex: Kuta Utara" name="location" list="location-list">
      <datalist id="location-list">
        <option>Kuta</option>
        <option>Denpasar</option>
        <option>Sanur</option>
      </datalist> 
    </div>


 
  <button id="option" onclick="accordion('more-ops')" class="w3-button w3-block w3-blue w3-hover-green w3-accordion" type="button" style="border-radius: 0 0 3px 3px" >
  Opsi Lain &nbsp;<i class="fa fa-caret-down"></i>
  </button>
</div>


  <!-- MORE OPTIONS -->
  <div id="more-ops" class="w3-light-grey w3-animate-bottom w3-padding-16 w3-section w3-hide w3-card-4 w3-white w3-text-blue-grey" style="padding-bottom:8px;border-radius:3px">
  
  <p class="w3-margin-left" style="font-weight: bold;">Spesifikasi</p>
    <div id="spek-ops" class="w3-row-padding w3-margin-bottom">
    
      <div class="w3-col m2">
        <input class="w3-input w3-border" type="number" name="" placeholder="Jml Lantai">
      </div>
      <div class="w3-col m2">
        <input class="w3-input w3-border" type="number" name="" placeholder="Kmr Tidur">
      </div>
      <div class="w3-col m2">
        <input class="w3-input w3-border" type="number" name="" placeholder="Kmr Mandi">
      </div> 
       <div class="w3-col m3">
        <input class="w3-input w3-border" type="number" name="" placeholder="Luas Tanah">
      </div> 
       <div class="w3-col m3">
        <input class="w3-input w3-border" type="number" name="" placeholder="Luas Bangunan">
      </div> 
    </div>
  <!-- <p class="w3-margin-left" style="font-weight: bold;">Daerah</p>
    <div id="daerah-ops" class="w3-row-padding w3-margin-bottom">
      <div class="w3-col m6">
      <input placeholder="Provinsi" class="w3-input w3-border" type="text" name="">
      </div>
      <div class="w3-col m6">
      <input placeholder="Kota" class="w3-input w3-border" type="text" name="">
      </div>
    </div> -->
  <p class="w3-margin-left" style="font-weight: bold;">Harga</p>
  <div id="harga-ops" class="w3-row-padding w3-margin-bottom">
    <div class="w3-col m6">
        <input class="w3-input w3-border" type="number" name="" placeholder="Harga minimum">
      </div>
        <div class="w3-col m6">
        <input class="w3-input w3-border" type="number" name="" placeholder="Harga maksimum">
      </div>
  </div>
  </div>
</form>
</div>

<script async defer>

//Search Dropdown
function searchDropDown() {
  var elm = document.getElementById('search-dropdown-content');
  if(elm.className.indexOf("w3-show")==-1)
    elm.className += " w3-show";
  else
    elm.className = elm.className.replace(' w3-show','')
}

//Accordion
function accordion(id){
  var elm = document.getElementById(id);
  if(elm.className.indexOf('w3-show')== -1){
    elm.className += " w3-show";
  }else{
    elm.className = elm.className.replace(' w3-show','');
  }
 // google.maps.event.trigger(map, 'resize');
}
</script>