<!--Floating Search Card-->
<div class="w3-display-middle w3-round-small w3-animate-opacity" style="width:50%;min-width:730px;max-width:799;padding-top:32px">

<!-- MAIN LOGO -->
  <div id="main-hero-logo" class="w3-row w3-center">
    <img src="/img/rumah2q-logo.png" class="" style="width:30%;height:50%">
  </div>

<form id="form-listings" action="/listings">
<!--MAIN SEARCH-->
  <div id="main-search" class="w3-row w3-card-4">
    
    <div class="w3-col" style="width:17%">
      <select id="searchStatus" style="height: 54px;" class="w3-padding-16 w3-select w3-text-grey w3-white w3-border-0 w3-hover-text-blue-grey w3-hover-light-grey" name="status">
        <option value="dijual">Dijual</option>
        <option value="disewa">Disewa</option>
        <option value="">--Semua--</option>
      </select>
    </div>

    <div class="w3-col" style="width:27%">
       <select id="searchType" style="height: 54px;" class="w3-padding-16 w3-select w3-text-grey w3-white w3-border-0 w3-hover-text-blue-grey w3-hover-light-grey " name="type" onclick="this.style.backgroundColor='white'">
         <option value="rumah">Rumah</option>
            <option value="ruko">Ruko</option>
            <option value="tanah">Tanah</option>
            <option value="gudang">Gudang</option>
            <option value="gedung">Gedung</option>
            <option value="ruang usaha">Ruang Usaha</option>
            <option value="villa">Villa</option>
            <option value="apartemen">Apartemen</option>
            <option value="pabrik">Pabrik</option>
            <option value="perkantoran">Perkantoran</option>
            <option value="">--Semua--</option>

      </select>
    </div>

     <div class="w3-col w3-right" style="width:50px">
      <button id="searchBtn" class="w3-padding-16 w3-button w3-block w3-white w3-hover-blue-grey w3-text-blue-grey" title="Lakukan Pencarian...">
       
        <i class="fa fa-search"></i>
      </button>
    </div>
   <div class="w3-rest">

      <input id="searchLocation" onclick="searchDropDown()" class="w3-padding-16 w3-input w3-white w3-hover-light-grey w3-border-0 " type="text" placeholder="Lokasi.. Ex: Kuta Utara" name="location" list="locations-list">
      <datalist id="locations-list">
        <option>Kuta</option>
        <option>Denpasar</option>
        <option>Sanur</option>
        <option>Kerobokan</option>
        <option>Jakarta</option>
      </datalist> 
    </div>


 
  <button id="option" onclick="accordion('more-ops')" class="w3-button w3-block w3-blue w3-hover-green w3-accordion" type="button" style="border-radius: 0 0 3px 3px" >
  Opsi Lain &nbsp;<i class="fa fa-caret-down"></i>
  </button>
</div>


  <!-- MORE OPTIONS -->
  <div id="more-ops" class="w3-light-grey w3-animate-bottom w3-padding-16 w3-section w3-hide w3-card-4 w3-white w3-text-blue-grey" style="padding-bottom:8px;border-radius:3px">
  
  <p class="w3-margin-left" style="font-weight: bold;">Spesifikasi</p>
    <div id="spek-ops" class="w3-row-padding w3-margin-bottom">
    
      <div class="w3-col m2">
        <label>Jumlah Lantai</label>
        <input class="w3-input w3-border" type="text" name="floors" placeholder="Ex: 1" list="floorss-list">
        <datalist id="floorss-list">
          <option>1</option>
          <option>2</option>
          <option>3</option>
          <option>4</option>
          <option>+5</option>
        </datalist> 
      </div>
      <div class="w3-col m2">
        <label>Kamar Tidur</label>
        <input class="w3-input w3-border" type="text" name="beds" placeholder="Ex: 2" list="beds-list">
        <datalist id="beds-list">
          <option>1</option>
          <option>2</option>
          <option>3</option>
          <option>4</option>
          <option>+5</option>
        </datalist>
      </div>
      <div class="w3-col m2">
        <label>Kamar Mandi</label>
        <input class="w3-input w3-border" type="text" name="baths" placeholder="Ex: 1" list="baths-list">
        <datalist id="baths-list">
          <option>1</option>
          <option>2</option>
          <option>3</option>
          <option>4</option>
          <option>+5</option>
        </datalist>
      </div> 
       <div class="w3-col m3">
        <label>Luas Tanah (m<sup>2</sup>)</label>
        <input class="w3-input w3-border" type="text" name="lotSize" placeholder="Ex: 100" list="lot-sizes-list">
        <datalist id="lot-sizes-list">
          <option>50</option>
          <option>100</option>
          <option>200</option>
          <option>500</option>
          <option>1000</option>
        </datalist>
      </div> 
       <div class="w3-col m3">
        <label>Luas Bangunan (m<sup>2</sup>)</label>
        <input class="w3-input w3-border" type="text" name="buildingSize" placeholder="Ex: 150" list="building-sizes-list">
        <datalist id="building-sizes-list">
          <option>50</option>
          <option>100</option>
          <option>200</option>
          <option>500</option>
          <option>1000</option>
        </datalist>
      </div> 
    </div>
  <!-- <p class="w3-margin-left" style="font-weight: bold;">Daerah</p>
    <div id="daerah-ops" class="w3-row-padding w3-margin-bottom">
      <div class="w3-col m6">
      <input placeholder="Provinsi" class="w3-input w3-border" type="text" name="">
      </div>
      <div class="w3-col m6">
      <input placeholder="Kota" class="w3-input w3-border" type="text" name="">
      </div>
    </div> -->
  <p class="w3-margin-left" style="font-weight: bold;">Harga</p>
  <div id="harga-ops" class="w3-row-padding w3-margin-bottom">
    <div class="w3-col m6">
      <label>Harga Minimum (Rp)</label>
      <input id="min-price" class="w3-input w3-border" type="text" placeholder="Ex: Rp. 50.000.000" list="min-prices-list">
      <datalist id="min-prices-list">
        <option data-value="50000000">Rp. 50.000.000</option>
        <option data-value="100000000">Rp. 100.000.000</option>
        <option data-value="200000000">Rp. 200.000.000</option>
        <option data-value="500000000">Rp. 500.000.000</option>
        <option data-value="1000000000">Rp. 1.000.000.000</option>
        <option data-value="2000000000">Rp. 2.000.000.000</option>
        <option data-value="5000000000">Rp. 5.000.000.000</option>
        <option data-value="10000000000">Rp. 10.000.000.000</option>
        <option data-value="20000000000">Rp. 20.000.000.000</option>
      </datalist>
      <input id="min-prices-hidden" type="hidden" name="minPrice">
    </div>
    <div class="w3-col m6">
      <label>Harga Maksimum (Rp)</label>
      <input id="max-price" class="w3-input w3-border" type="text" placeholder="Ex: Rp. 20.000.000.000" list="max-prices-list">
      <datalist id="max-prices-list">
        <option data-value="50000000">Rp. 50.000.000</option>
        <option data-value="100000000">Rp. 100.000.000</option>
        <option data-value="200000000">Rp. 200.000.000</option>
        <option data-value="500000000">Rp. 500.000.000</option>
        <option data-value="1000000000">Rp. 1.000.000.000</option>
        <option data-value="2000000000">Rp. 2.000.000.000</option>
        <option data-value="5000000000">Rp. 5.000.000.000</option>
        <option data-value="10000000000">Rp. 10.000.000.000</option>
        <option data-value="20000000000">Rp. 20.000.000.000</option>
      </datalist>
      <input id="max-prices-hidden" type="hidden" name="maxPrice">
    </div>
  </div>
  </div>
</form>
</div>

<script async defer>

//REMOVE EMPTY PARAMETER ON SUBMIT
var formListings = document.getElementById('form-listings');

formListings.addEventListener('submit', function () {
    var allInputs = formListings.getElementsByTagName('input');

    for (var i = 0; i < allInputs.length; i++) {
        var input = allInputs[i];

        if (input.name && !input.value) {
            input.name = '';
        }
    }
});
//END

document.querySelector('#min-price').addEventListener('input',dataList)
document.querySelector('#max-price').addEventListener('input',dataList)
//Data List
function dataList(e){
	 var input = e.target,
        list = input.getAttribute('list'),
        options = document.querySelectorAll('#' + list + ' option'),
        hiddenInput = document.getElementById(input.getAttribute('id') + 's-hidden'),
        label = input.value;

    hiddenInput.value = label;

    for(var i = 0; i < options.length; i++) {
        var option = options[i];

        if(option.innerText === label) {
            hiddenInput.value = option.getAttribute('data-value');
            break;
        }
    }
}

//Search Dropdown
function searchDropDown() {
  var elm = document.getElementById('search-dropdown-content');
  if(elm.className.indexOf("w3-show")==-1)
    elm.className += " w3-show";
  else
    elm.className = elm.className.replace(' w3-show','')
}

//Accordion
function accordion(id){
  var elm = document.getElementById(id);
  if(elm.className.indexOf('w3-show')== -1){
    elm.className += " w3-show";
  }else{
    elm.className = elm.className.replace(' w3-show','');
  }
 // google.maps.event.trigger(map, 'resize');
}
</script>