 <!-- Footer -->
<footer class="w3-text-light-grey w3-container w3-padding-64 w3-blue-grey w3-xlarge">
  <div class="w3-row-padding w3-content" style="max-width:500px">
  <div class="w3-col m6 w3-left-align">
  <a class="w3-tag w3-white w3-hover-light-grey" style="text-decoration:none;" href="/"><span class="w3-center w3-text-blue-grey" style="font-weight:bold">rumah<span class="w3-text-green">2Q</span></span></a>
    <p class="w3-medium">Mencarikan Properti</p>
    <p class="w3-medium">Ideal untuk anda</p>
  </div>
  <div class="w3-col m6 w3-left-align">
  	<a href="javascript:void(0)"><i class="fa fa-facebook-official"></i></a>
    <a href="javascript:void(0)"><i class="fa fa-twitter"></i></a>
    <a href="javascript:void(0)"><i class="fa fa-linkedin"></i></a>
    <p class="w3-medium">rumah2Q &copy;2016</p>
    <p class="w3-medium">powered by hiuWave inc</p>
  </div>
  </div>
</footer>