 <!-- Footer -->
<footer class="w3-text-light-grey w3-blue-grey">
  
  <div class="w3-row-padding w3-padding-32 w3-center" style="background:url('/img/building-horde-opacity-max.png');background-size:contain">
    <div class="w3-content">
      <a href="/">
        <img class="" src="/img/rumah2q-logo.png" style="width:200px">
      </a>
      <p class="w3-medium">"Mencarikan Properti Ideal untuk anda"</p>
      <p>Find us on</p>
      <a href="javascript:void(0)"><i class="w3-xxlarge fa fa-facebook"></i></a>
      <a href="javascript:void(0)"><i class="w3-xxlarge fa fa-twitter"></i></a>
      <a href="javascript:void(0)"><i class="w3-xxlarge fa fa-instagram"></i></a>
      <p class="w3-medium">rumah2Q &copy;2017</p>
      <p class="w3-medium">powered by hiuWave inc</p>
    </div>
  </div>
  <hr class="w3-hr w3-opacity">
  <div style="background-color:#56707c">
  <div class="w3-row-padding" style="max-width:980px;margin:auto;background-color:#56707c">
    <div class="w3-col m4">
      <ul class="w3-ul">
        <li>Property Dijual</li>
      </ul>
    </div>
    <div class="w3-col m4">
      <ul class="w3-ul">
        <li>Property Disewa</li>
      </ul>
    </div>
    <div class="w3-col m4">
      <ul class="w3-ul">
        <li>About</li>
      </ul>
    </div>
  </div>
  </div>

</footer>