 <!-- Footer -->
<footer class="w3-text-light-grey w3-blue-grey">
  
  <div class="w3-row-padding w3-padding-32 w3-center" style="background:url('/img/building-horde-opacity-max.png');background-size:contain">
    <div class="w3-content">
      <a href="/">
        <img class="" src="/img/rumah2q-logo.png" style="width:200px">
      </a>
      <p class="w3-medium">"Mencarikan Properti Ideal untuk anda"</p>
      <p>Find us on</p>
      <a href="javascript:void(0)"><i class="w3-xxlarge fa fa-facebook"></i></a>
      <a href="javascript:void(0)"><i class="w3-xxlarge fa fa-twitter"></i></a>
      <a href="javascript:void(0)"><i class="w3-xxlarge fa fa-instagram"></i></a>
    </div>
  </div>

  <hr class="w3-hr w3-opacity">
  
  <div style="background-color:#3a484e">
  <div class="w3-row-padding w3-padding-32" style="max-width:980px;margin:auto">
    <div class="w3-col m4">
      <ul class="w3-ul">
        <li><b>Property Dijual</b></li>
        <li>Rumah Dijual</li>
        <li>Tanah Dijual</li>
        <li>Ruko Dijual</li>
        <li>Gudang Dijual</li>
        <li>Ruang Usaha Dijual</li>
        <li>Villa Dijual</li>
        <li>Apartemen Dijual</li>
        <li>Pabrik Dijual</li>
        <li>Perkantoran Dijual</li>
      </ul>
    </div>
    <div class="w3-col m4">
      <ul class="w3-ul">
        <li><b>Property Disewa</b></li>
        <li>Rumah Disewa</li>
        <li>Tanah Disewa</li>
        <li>Ruko Disewa</li>
        <li>Gudang Disewa</li>
        <li>Ruang Usaha Disewa</li>
        <li>Villa Disewa</li>
        <li>Apartemen Disewa</li>
        <li>Pabrik Disewa</li>
        <li>Perkantoran Disewa</li>
      </ul>
    </div>
    <div class="w3-col m4">
      <ul class="w3-ul">
        <li><b>Properti Terbaru</b></li>
        <li>Sewa Properti Terbaru</li>
        <li>Beli Properti Terbaru</li>
      </ul>
      <ul class="w3-ul">
        <li><b>Agen Properti</b></li>
        <li>Cari Agen Properti</li>
        <li>Login Agen</li>
        <li>Reqistrasi Agen</li>
      </ul>
      <ul class="w3-ul">
        <li><b>About</b></li>
        <li>Profil</li>
        <li>Hubungi Kami</li>
        <!-- <li>FAQ</li>
        <li>Syarat dan Ketentuan</li> -->
      </ul>
    </div>
  </div>
  </div>

  <hr class="w3-hr w3-opacity">

  <div class="w3-row-padding w3-center w3-text-grey" style="background-color:#1b1f23">
      <p class="w3-medium">rumah2Q &copy;2017</p>
      <p class="w3-medium">powered by hiuWave inc</p>
  </div>

</footer>