 <!-- IMAGE CARD -->
  <div class="w3-row-padding ">
    
    <div class="w3-third">
      <div class="w3-card">
        <img src="/img/house.png" style="width:100%;">
        <div class="w3-container w3-center">
          <p>New Listing</p>
        </div>
      </div>
    </div>
    
    <div class="w3-third">
      <div class="w3-card">
        <img src="/img/house.png" style="width:100%;">
        <div class="w3-container w3-center">
          <p>Most Seen</p>
        </div>
      </div>
    </div>
  
    <div class="w3-third">
      <div class="w3-card">
        <img src="/img/house.png" style="width:100%">
        <div class="w3-container w3-center">
          <p>Most Requested</p>
        </div>
      </div>
    </div>
 
  </div>