<!--MODAL CONFIRM DELETE BANK-->
<div id="modal-confirm-delete-bank" class="w3-modal">
  <div class="w3-modal-content w3-card-4" style="max-width:399px;opacity:0.95">
   <header id="modal-login-header" class="w3-center"><br>
      <span onclick="document.getElementById('modal-confirm-delete-bank').style.display='none'" class="w3-button w3-hover-red w3-padding w3-display-topright" title="Close">&times;</span>
    
      <p class="w3-xlarge w3-margin w3-center w3-text-blue-grey" style="font-weight:bold">rumah<span class="w3-text-green">2Q</span></p>
      <hr">
    </header>
   
    <form class="" action="">
      <div class="w3-container">
        <p>Anda yakin akan menghapus data ini?</p>
        <p>ID: <span id="modal-id"></span></p>
        <p>Data: <span id="modal-data"></span></p>
      </div>
      
      <footer class="w3-row w3-container w3-padding-24 w3-blue-grey">
        <button onclick="document.getElementById('modal-confirm-delete-bank').style.display='none'" type="button" class="w3-btn w3-light-grey w3-right">Cancel</button>
        <button onclick="deleteBank(mi.innerHTML)" type="button" class="w3-btn w3-red w3-right">Hapus</button>
      </footer>
    </form>
    
  </div>
</div>

<script>
var id = 0;
var mcdu = document.getElementById('modal-confirm-delete-bank');
var mi = document.getElementById('modal-id');
var md = document.getElementById('modal-data');
  function modalData(id,username){
    id = id;
    mcdu.style.display='block';
    mi.innerHTML = id;
    md.innerHTML = username;
  }
  function deleteBank(id){
    //alert(id)
    var xhr = new XMLHttpRequest();
    xhr.onreadystatechange = function(){
      if(this.readyState == 4 && this.status == 200){
        md.innerHTML = this.responseText;
        location.reload();
      }
    };
    xhr.open('GET','/api/bank/delete/'+id);
    xhr.send();
  }
</script>