<!--Navbar-->
<div id="main-navbar" class="w3-top">
<div class="w3-bar w3-blue-grey">
<a class="w3-bar-item w3-button w3-white w3-hover-blue-grey" href="/">
<img src="/img/rumah2q-logo.png" style="width: 80px">
<a class="w3-bar-item w3-button w3-hover-white w3-hover-text-blue-grey" href="/listing"><i class="fa fa-home"></i> Property Listing</a>
<a class="w3-bar-item w3-button w3-hover-white w3-hover-text-blue-grey" href="/findinmaps"><i class="fa fa-map-marker"></i> Find in Maps</a>
<a class="w3-bar-item w3-button w3-hover-white w3-hover-text-blue-grey" href="/partners"><i class="fa fa-handshake-o"></i> Partners</a>
<a class="w3-bar-item w3-button w3-hover-white w3-hover-text-blue-grey w3-right" title="Login/Signup" onclick="document.getElementById('modal-login').style.display='block'" href="javascript:void(0)"><%-req.session.user?'<i class="fa fa-user-circle"></i> '+req.session.user.username:'<i class="fa fa-sign-in"></i>'%></a>
</div>
</div>