<a class="w3-bar-item w3-button w3-hover-text-blue-grey w3-hover-white" href="/listing?status=dijual"><i class="fa fa-chevron-circle-down	"></i> Dijual</a>
<a class="w3-bar-item w3-button w3-hover-text-blue-grey w3-hover-white" href="/listing?status=disewa"><i class="fa fa-chevron-circle-down	"></i> Disewa</a>
<a class="w3-bar-item w3-button w3-hover-text-blue-grey w3-hover-white" href="/listing"><i class="fa fa-home"></i> Property Listing</a>
<a class="w3-bar-item w3-button w3-hover-text-blue-grey w3-hover-white" href="/findinmaps"><i class="fa fa-map-marker"></i> Find in Maps</a>
<a class="w3-bar-item w3-button w3-hover-text-blue-grey w3-hover-white" href="/agents"><i class="fa fa-user-secret"></i> Find Agents</a>
<a class="w3-bar-item w3-button w3-hover-text-blue-grey w3-hover-white" href="/partners"><i class="fa fa-handshake-o"></i> Partners</a>
<a title="Log in/Sign up" <%-req.session.user?'href="/admin"':'href="javascript:void(0)"'%> <%-req.session.user?``:`onclick="document.getElementById('modal-login').style.display='block'"`%>  class="w3-bar-item w3-button w3-hover-white w3-hover-text-blue-grey w3-right"> <%-req.session.user?req.session.user.username+' <img class="w3-circle" style="width:1.3em" src="/uploads/'+req.session.user.avatar+'"> ':'<i class="fa fa-sign-in"></i>'%></a>