<a href="/">
<div class="w3-button w3-card w3-white w3-hover-light-grey w3-bottombar w3-border-green" href="/" style="
    
	height:70px;
	position:fixed;
	z-index:5;
	display:flex;
	left:16px;
	flex-direction:column;
	justify-content:center;
	top:0;

">
		<img src="/img/rumah2q-logo.png" style="width:80px;">
</div>
</a>

<script defer>
	document.addEventListener('DOMContentLoaded',changeMarginMenu);
	function changeMarginMenu(){
		document.getElementById('top-navbar-items').style.marginLeft='135px';
	}
</script>