<div id="top-navbar-items">
	
	<a class="w3-bar-item w3-button w3-hover-text-blue-grey w3-hover-white" href="/new-property"><i class="fa fa-asterisk"></i> Properti Baru</a>


	<div class="w3-dropdown-hover w3-hide-large">
		<a id="top-navbar-items" class="w3-bar-item w3-button Xw3-blue-grey w3-hover-text-blue-grey w3-hover-white" href="/listings?status=dijual"><i class="fa fa-chevron-circle-down	"></i> Dijual</a>
		
		<div class="w3-dropdown-content w3-bar-block w3-card-4"  style="top:38px">
			<a class="w3-bar-item w3-button w3-text-grey w3-hover-blue-grey" href="/listings?status=dijual"><i class="fa fa-arrow-circle-right"></i> Rumah Dijual</a>
			<a class="w3-bar-item w3-button w3-text-grey w3-hover-blue-grey" href="/listings?status=dijual"><i class="fa fa-arrow-circle-right"></i> Tanah Dijual</a>
			<a class="w3-bar-item w3-button w3-text-grey w3-hover-blue-grey" href="/listings?status=dijual"><i class="fa fa-arrow-circle-right"></i> Ruko Dijual</a>
			<a class="w3-bar-item w3-button w3-text-grey w3-hover-blue-grey" href="/listings?status=dijual"><i class="fa fa-arrow-circle-right"></i> Gudang Dijual</a>
			<a class="w3-bar-item w3-button w3-text-grey w3-hover-blue-grey" href="/listings?status=dijual"><i class="fa fa-arrow-circle-right"></i> Ruang Usaha Dijual</a>
			<a class="w3-bar-item w3-button w3-text-grey w3-hover-blue-grey" href="/listings?status=dijual"><i class="fa fa-arrow-circle-right"></i> Villa Dijual</a>
			<a class="w3-bar-item w3-button w3-text-grey w3-hover-blue-grey" href="/listings?status=dijual"><i class="fa fa-arrow-circle-right"></i> Apartemen Dijual</a>
			<a class="w3-bar-item w3-button w3-text-grey w3-hover-blue-grey" href="/listings?status=dijual"><i class="fa fa-arrow-circle-right"></i> Pabrik Dijual</a>
			<a class="w3-bar-item w3-button w3-text-grey w3-hover-blue-grey" href="/listings?status=dijual"><i class="fa fa-arrow-circle-right"></i> Perkantoran Dijual</a>
			
		</div>		
	</div>

	<div class="w3-dropdown-hover w3-hide-large">
		<a class="w3-bar-item w3-button Xw3-blue-grey w3-hover-text-blue-grey w3-hover-white" href="/listings?status=disewa"><i class="fa fa-chevron-circle-down	"></i> Disewa</a>
		
		<div class="w3-dropdown-content w3-bar-block w3-card-4"  style="top:38px">
			<a class="w3-bar-item w3-button w3-text-grey w3-hover-blue-grey" href="/listings?status=disewa"><i class="fa fa-arrow-circle-right"></i> Rumah Disewa</a>
			<a class="w3-bar-item w3-button w3-text-grey w3-hover-blue-grey" href="/listings?status=disewa"><i class="fa fa-arrow-circle-right"></i> Tanah Disewa</a>
			<a class="w3-bar-item w3-button w3-text-grey w3-hover-blue-grey" href="/listings?status=disewa"><i class="fa fa-arrow-circle-right"></i> Ruko Disewa</a>
			<a class="w3-bar-item w3-button w3-text-grey w3-hover-blue-grey" href="/listings?status=disewa"><i class="fa fa-arrow-circle-right"></i> Gudang Disewa</a>
			<a class="w3-bar-item w3-button w3-text-grey w3-hover-blue-grey" href="/listings?status=disewa"><i class="fa fa-arrow-circle-right"></i> Ruang Usaha Disewa</a>
			<a class="w3-bar-item w3-button w3-text-grey w3-hover-blue-grey" href="/listings?status=disewa"><i class="fa fa-arrow-circle-right"></i> Villa Disewa</a>
			<a class="w3-bar-item w3-button w3-text-grey w3-hover-blue-grey" href="/listings?status=disewa"><i class="fa fa-arrow-circle-right"></i> Apartemen Disewa</a>
			<a class="w3-bar-item w3-button w3-text-grey w3-hover-blue-grey" href="/listings?status=disewa"><i class="fa fa-arrow-circle-right"></i> Pabrik Disewa</a>
			<a class="w3-bar-item w3-button w3-text-grey w3-hover-blue-grey" href="/listings?status=disewa"><i class="fa fa-arrow-circle-right"></i> Perkantoran Disewa</a>

		</div>		
	</div>


	<a class="w3-bar-item w3-button w3-hover-text-blue-grey w3-hover-white" href="/listings"><i class="fa fa-list"></i> List Properti</a>

	<a class="w3-bar-item w3-button w3-hover-text-blue-grey w3-hover-white" href="/findinmaps"><i class="fa fa-map-marker"></i> Cari di Maps</a>

	<a class="w3-bar-item w3-button w3-hover-text-blue-grey w3-hover-white" href="/agents"><i class="fa fa-user-secret"></i> Cari Agen</a>
	
	<div class="w3-dropdown-hover">
		<a class="w3-bar-item w3-button Xw3-blue-grey w3-hover-text-blue-grey w3-hover-white" href="javascript:void(0)"><i class="fa fa-chevron-circle-down"></i> More</a>
		<div class="w3-dropdown-content w3-bar-block w3-card-4"  style="top:38px">
			<a class="w3-bar-item w3-button w3-text-grey w3-hover-blue-grey" href="/signup"><i class="fa fa-user"></i> Daftar Menjadi Member</a>
			<a class="w3-bar-item w3-button w3-text-grey w3-hover-blue-grey" href="/about-us#join-us"><i class="fa fa-user-secret"></i> Daftar Menjadi Agen</a>
			<a class="w3-bar-item w3-button w3-text-grey w3-hover-blue-grey" href="/about-us"><i class="fa fa-info-circle"></i> About</a>

		</div>		
	</div>

	<div class="w3-dropdown-hover w3-right">
		<a class="w3-button Xw3-blue-grey w3-hover-white w3-hover-text-blue-grey" <%-req.session.user?`href="/dashboards" title="${req.session.user.username}"`:`href="javascript:void(0)" title="Log in/Sign up"`%> <%-req.session.user?``:`onclick="document.getElementById('modal-login').style.display='block'"`%> > <%-req.session.user?`<img class="w3-circle w3-card" style="width:1.49em" src="/uploads/${req.session.user.avatar}"> `:`<i class="fa fa-sign-in"></i>`%></a>
		<%if(req.session.user){%>
		<div id="dropdown-top-user" class="w3-dropdown-content w3-bar-block w3-card-4" style="right:0;/*width:100%">
			<a href="/dashboards" class="w3-bar-item w3-button w3-text-grey w3-hover-blue-grey"><i class="fa fa-user-circle-o"></i> Dashboard</a>
			<a href="/logout" class="w3-bar-item w3-button w3-text-grey w3-hover-blue-grey"><i class="fa fa-sign-out"></i> Logout</a>
		</div>
	</div>
		<%}%>
  <div class="w3-clear"></div>

</div>