<div class="w3-padding-128 w3-center" style="background: url(/img/building-horde.png); background-size: cover;">
  <div class="w3-white w3-card-4 w3-content w3-padding-64" style="width:50%">
    <p class="w3-xxxlarge">
    	<span class="w3-center w3-text-blue-grey" style="font-weight:bold">rumah<span class="w3-text-green">2Q</span></span>
    </p>
	  <h1 class="w3-jumbo w3-green">500 !</h1>
	  <p class="w3-white">Maaf, Kesalahan Internal Server</p>
	  <p>
	  	 <% if (typeof data !== 'undefined') { %>
        <pre class="error"><code>
          <%- data %>
        </code></pre>
        <% } else { %>
       <p class="error">
          A team of highly trained sea bass is working on this as we speak.<br/>
          If the problem persists, please <a href="mailto://you@your-domain.com">contact the system administrator</a> and inform them of the time that the error occured, and anything you might have done that may have caused the error.
        </p>
      <% } %>

	  </p>
  </div>
</div>