@media print {

/*body * {
  visibility: hidden;
}
#section-to-print, #section-to-print * {
  visibility: visible;
}*/
/*#section-to-print {
  position: absolute;
  left: 0;
  top: 0;
}*/
.no-print { display: none!important; }


}

html,body{
  width:100%;
  height:100%;
}

/* SCROLL BAR */
::-webkit-scrollbar {
   width: 10px;

}nav.w3-sidebar::-webkit-scrollbar {
   width: 5px;
}

::-webkit-scrollbar-track {
   background: #f1f1f1
}
::-webkit-scrollbar-thumb {
   background: #c7c7c7
}

.listing-img{
  max-width:100%;
  max-height:100%;
  /*height:253px!important;*/
}

/*#main-pic{
  width:100%;
  height:550px!important;
}*/

/*#map{
  width:100%;height:75.5%;
  position:relative;
  overflow: hidden; padding-bottom: 56.25%;
}*/
#maps-form{
  margin-bottom:0px!important;
}
.main-tabs,.tab-detail{
  display: none;
}

#main-hero-logo{
  background: url(/img/building-horde.png);
  background-size: contain;
  background-repeat: repeat-x;
  background-position: 0px -1px;
  margin-bottom: -1px;
}

#searchStatus{
  background: url(/img/icon-buy-or-rent.png) no-repeat;
  background-position: 10px 18px;
  padding-left: 25px;
}

#searchType{
  background: url(/img/icon-houses.png) no-repeat;
  background-position: 10px 18px;
  padding-left: 28px;
}

#searchLocation{
  background: url(/img/icon-location.png) no-repeat;
  background-position: 10px 17px;
  padding-left: 35px;
}

#searchStatusBar{
  background: url(/img/icon-buy-or-rent.png) no-repeat;
  background-position: 10px 10px;
  padding-left: 25px;
}

#searchTypeBar{
  background: url(/img/icon-houses.png) no-repeat;
  background-position: 10px 10px;
  padding-left: 28px;
}
#searchLocationBar{
  background: url(/img/icon-location.png) no-repeat;
  background-position: 10px 10px;
  padding-left: 35px;
}

#admin-user-bg{
  background: url(/img/building-horde-opacity-max.png);
  background-size: cover;
}

.login-header{
  background: url(/img/building-horde.png);
  background-size: cover;
}

.w3-hr{
  border-style: dashed!important;
  margin: 0px!important;
}

.w3-ul li{
  border-bottom:none; 
}

.w3-ul a{
  text-decoration:none;
}

.w3-ul a:hover{
  color:orange;
}

select option{
  background-color:white!important;
}
/*.row.is-flex {
  display: flex;
  flex-wrap: wrap;
}
.row.is-flex > [class*='col-'] {
  display: flex;
  flex-direction: column;
}*/

/*
* And with max cross-browser enabled.
* Nobody should ever write this by hand. 
* Use a preprocesser with autoprefixing.
*/
.row.is-flex {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
}

.row.is-flex > [class*='col-'] {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
}
.w3-hover-text-blue-grey:hover{color:#607d8b!important}

.stripe-4{
  color: white;
  background: -webkit-repeating-linear-gradient(145deg, #222, #222 10px, #333 10px, #333 20px);
  background: repeating-linear-gradient(-55deg, #222, #222 10px, #333 10px, #333 20px);
}

.stripe-2{
  background-color: #f7f7f7;
  background-image: repeating-linear-gradient(45deg, transparent, transparent 35px, rgba(255,255,255,.5) 35px, rgba(255,255,255,.5) 70px);
}

.stripe-6{
  background-color: grey;
  background-image: repeating-linear-gradient(45deg, transparent, transparent 35px, rgba(255,255,255,.5) 35px, rgba(255,255,255,.5) 70px);
}

.stripe-8{
  color: white;
  background: -webkit-repeating-linear-gradient(145deg, #222, #222 10px, #333 10px, #333 20px);
  background: repeating-linear-gradient(-55deg, #222, #222 10px, #333 10px, #333 20px);
}

.pattern-1{
  background:
  radial-gradient(black 15%, transparent 16%) 0 0,
  radial-gradient(black 15%, transparent 16%) 8px 8px,
  radial-gradient(rgba(255,255,255,.1) 15%, transparent 20%) 0 1px,
  radial-gradient(rgba(255,255,255,.1) 15%, transparent 20%) 8px 9px;
  background-color:#282828;
  background-size:16px 16px;
}

.pattern-2{
  background-color: #fff; 
  background-image: 
  linear-gradient(90deg, transparent 79px, #abced4 79px, #abced4 81px, transparent 81px),
  linear-gradient(#eee .1em, transparent .1em);
  background-size: 100% 1.2em;
}