<div id="main-partners" class="w3-animate-opacity" style="padding-top:38px">
	
	<!-- HERO IMAGE -->
	<div class="w3-row w3-center w3-greyscale-min" style="background: url('/img/building-1.jpg');background-attachment:inherit;background-size:cover;padding-top:128px;padding-bottom:128px">
		
		<h1 class="w3-text-white" style="">Bergabung Bersama Kami</h1>
	
	</div>

	<div class="w3-padding-64 w3-white">
		<div class="w3-container w3-content w3-padding-32 w3-text-grey">
			<h3>"EXPLORE YOUR LIVE TASTE"</h3>
			
			<p>
			We have created a simple but useful maps apps. Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
			</p>
		
		</div>
	</div>

	<!-- FORM SIGNUP -->

	<div id="join-us" style="background: url('/img/building-1.jpg');background-size:cover;background-attachment:fixed">
		<div style="background-color: rgba(0, 0, 0, 0.55);padding:128px 0">
			<form action="/api/agent-signup" method="POST" enctype="multipart/form-data">
				<div class="w3-content w3-card-4 w3-white" style="opacity:0.97;max-width:600px">
		 		<div id="modal-login-header" class="w3-center" style="background-size:contain;"><br>
      		<img src="/img/rumah2q-logo.png" style="width:35%">
      <!-- <p class="w3-xxlarge w3-margin w3-center w3-text-blue-grey" style="font-weight:bold">rumah<span class="w3-text-green">2Q</span></p> -->
      		<hr>
    		</div>
  			<p class="w3-center w3-text-blue-grey" style="border-width:2px!important;margin-top: 0"><b>Signup Agent</b></p>

				<div class="w3-row w3-container">
			  	<label class="w3-text-grey">No Identitas (KTP/SIM)</label>
					<input class="w3-input w3-border" type="text" name="idNumber" value="" required>
					<label class="w3-text-grey">Nama Lengkap</label>
					<input class="w3-input w3-border" type="text" name="name" value="" required>
					<label class="w3-text-grey">Email</label>
					<input class="w3-input w3-border" type="email" name="email" value="" required>
					<label class="w3-text-grey">Phone</label>
					<input class="w3-input w3-border" type="text" name="phone" value="" required>
					<label class="w3-text-grey">Username</label>
					<input class="w3-input w3-border" type="text" name="username" value="" required autocomplete="off">
					<label class="w3-text-grey">Password</label>
					<input class="w3-input w3-border" type="password" name="password" value="" required autocomplete="off" minlength="4">

			<!-- 	<p>
				<span class="w3-padding w3-light-grey w3-text-grey">Foto Profil&nbsp;&nbsp;<i class="fa fa-file-image-o"></i></span>
				<input type="file" name="avatar" required>
				</p>
				
				<p>
				<span class="w3-padding w3-light-grey w3-text-grey">Foto Kartu Identitas&nbsp;&nbsp;<i class="fa fa-file-image-o"></i></span>
				<input type="file" name="identityCard" required>
				</p> -->

				<table class="w3-table w3-section">
					<tr>
						<td class="w3-padding w3-light-grey w3-text-grey">
							<b>Unggah Dokumen</b>
						</td>
						<td>
							
						</td>
					</tr>
					<tr>
						<td class="w3-padding w3-light-grey w3-text-grey">
							Foto Profil&nbsp;&nbsp;<i class="fa fa-file-image-o"></i>
						</td>
						<td>
							<input type="file" name="avatar" required>
						</td>
					</tr>
					<tr>
						<td class="w3-padding w3-light-grey w3-text-grey">
							Kartu Identitas&nbsp;&nbsp;<i class="fa fa-file-image-o"></i>
						</td>
						<td>
							<input type="file" name="identityCard" required>
						</td>
					</tr>
				</table>

			</div>
			<div class="w3-row w3-section w3-padding-16 w3-blue-grey">
				<button class="w3-btn w3-green w3-right w3-margin-right"><i class="fa fa-plus"></i> Buat Akun</button>
				<button class="w3-btn w3-blue-grey w3-right" type="reset">Kosongkan</button>
			  </div>
		</div>
  </form></div>
</div>

<!-- ADDITIONAL DESCRIPTION -->
	<div class="w3-white w3-padding-64">
	<div class="w3-container w3-content w3-section w3-text-grey">
		<h3>We Love Maps</h3>
		<p>
			We have created a simple but useful maps apps. Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
		</p>

		<h3>We Build Great Tech</h3>
		
		<p>
			We have created a simple but useful maps apps. Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cill um dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
		</p>
	</div>

</div>