<%   String.prototype.capitalize = function() {
    return this.charAt(0).toUpperCase() + this.slice(1);
}%>
<!--Main-->
<div id="main" class="w3-center" style="padding-top:38px!important">
 
  <div style="max-width:700px;margin:auto;">
  <div class="w3-display-container">
    <img style="width:100%" class="w3-grayscale" src="/img/building-horde.png"  alt="" />
    <div class="w3-display-middle w3-center">
    <img style="width:50%" class="w3-circle w3-card-4" src="/img/avatar-female.png" alt="" />
    <p class="w3-large"><%=dataAgent.name%></p>
    </div>
  </div>
   <table class="w3-table Xw3-bordered Xw3-hoverable">
      <tr>
        <td style="width:150px">ID</td><td><%=dataAgent.id%></td>
      </tr>
      <tr>
        <td>Jenis Pengguna</td><td><%=dataAgent.role.capitalize()%> <b><%=dataAgent.role.capitalize()%></b></td>
      </tr>
      <tr>
        <td>Alamat</td><td></td>
      </tr>
      <tr>
        <td>Kota</td><td></td>
      </tr>
      <tr>
        <td>Provinsi</td><td></td>
      </tr>
      <tr>
        <td>Deskripsi</td>
        <td>
      
        </td>
      </tr>
    </table>
  <div class="w3-blue-grey w3-margin-0 w3-padding">Hubungi Agen</div>
  <div class="w3-container">
  <p>
  <p><input placeholder="Masukan Nama Anda" class="w3-input w3-border w3-hover-light-grey" type="text"></p>
  <p><input placeholder="Masukan No Handphone" class="w3-input w3-border w3-hover-light-grey" type="text"></p>
  <p><input placeholder="Masukan Alamat Email" class="w3-input w3-border w3-hover-light-grey" type="text"></p>
  </p>
  <button class="w3-button w3-green w3-hover-blue w3-right"><b>Send</b></button>
  </div>
  </div>
</div> <!-- End Main -->

<script>

</script>
<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDAmS8vuCaGKypdZbXPWWrUo09cIjuTkgk&callback="></script>
