<div class="w3-light-grey" style="padding-top:38px">
	<div class="w3-row w3-center" style="background: url('/img/building-1.jpg');background-size: cover;padding-top: 128px;padding-bottom: 128px">
		<h1 class="w3-text-white">Bergabung Bersama Kami</h1>
	</div>
</div>