<div class="w3-container w3-center w3-content" style="width:30%">
  <h1 class="w3-text-grey">The <strong class="w3-text-blue-grey">goddess</strong> Class</h1>  
  <div class="w3-display-container w3-hover-opacity">
    <img class="" src="https://scontent.cdninstagram.com/t51.2885-15/s320x320/e35/11887213_1008568852515975_1193056492_n.jpg" alt="Avatar" style="width:100%;margin:auto">
    <div class="w3-display-middle w3-display-hover xw3-xlarge">
      <button class="w3-btn w3-padding-24 w3-white w3-animate-opacity">Tomomi Ogawa</button>
    </div>
  </div>
</div>